.nav-style a{
    padding: 15px;
    margin-left: 10px;
    border: 2px solid #fff;
}

.nav-style a:hover {
    border: 2px solid #F87171;
    border-radius: 15px;
}

@media screen and (max-width : 600px){
    .nav-style a, .nav-style a:hover{
        border: none;
    }
}

@media screen and (min-width : 601px) and (max-width : 768px){
    .nav-style a, .nav-style a:hover{
        border: none;
    }
}

